[submodule "ivory"]
	path = ivory
	url = https://github.com/GaloisInc/ivory
[submodule "ivory-tower-stm32"]
	path = ivory-tower-stm32
	url = https://github.com/GaloisInc/ivory-tower-stm32
[submodule "tower"]
	path = tower
	url = https://github.com/GaloisInc/tower.git
[submodule "mavlink"]
	path = mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "estimator"]
	path = estimator
	url = https://github.com/GaloisInc/estimator.git
[submodule "Copilot"]
	path = Copilot
	url = https://github.com/GaloisInc/Copilot
[submodule "tomsfastmath"]
	path = tomsfastmath
	url = https://github.com/libtom/tomsfastmath.git
[submodule "libtomcrypt"]
	path = libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "libtommath"]
	path = libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "InertialNav"]
	path = InertialNav
	url = https://github.com/priseborough/InertialNav.git
[submodule "clearpath-serial"]
	path = clearpath-serial
	url = https://github.com/clearpathrobotics/serial.git
[submodule "nasa-eefs"]
	path = nasa-eefs
	url = https://github.com/nasa/eefs.git
[submodule "libemb"]
	path = libemb
	url = https://github.com/wendlers/libemb.git
[submodule "linux-i2c"]
	path = linux-i2c
	url = https://github.com/jwr/lsquaredc.git
[submodule "linux-i2c-lsqaredc"]
	path = linux-i2c-lsqaredc
	url = https://github.com/jwr/lsquaredc.git
[submodule "atom"]
	path = atom
	url = https://github.com/tomahawkins/atom.git
[submodule "improve"]
	path = improve
	url = https://github.com/tomahawkins/improve.git
[submodule "ecu"]
	path = ecu
	url = https://github.com/tomahawkins/ecu.git
[submodule "minlibc"]
	path = minlibc
	url = https://github.com/GaloisInc/minlibc.git
[submodule "ivory-rtverification"]
	path = ivory-rtverification
	url = https://github.com/GaloisInc/ivory-rtverification.git
[submodule "zeromq4-x"]
	path = zeromq4-x
	url = https://github.com/zeromq/zeromq4-x.git
[submodule "zeromq/zeromq4-x"]
	path = zeromq/zeromq4-x
	url = https://github.com/zeromq/zeromq4-x.git
[submodule "zeromq/czmq"]
	path = zeromq/czmq
	url = https://github.com/zeromq/czmq.git
[submodule "zeromq/pyzmq"]
	path = zeromq/pyzmq
	url = https://github.com/zeromq/pyzmq.git
[submodule "zeromq/zeromq-haskell"]
	path = zeromq/zeromq-haskell
	url = https://github.com/twittner/zeromq-haskell.git
